* {
    font-family: "Open Sans", sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

/* TODO: FIX USE LEAFLET CONTROLS */
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    margin-top: 4.5rem !important;
}
